<% include partials/header %>

<section class="section header">
    <div class="container has-text-centered">
        <h1 class="title has-text-white">Widli Photography</h1>
    </div>
</section>

<section class="section" id="about">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="/images/megandjoe.jpg" class="about-img"/>
                </figure>
            </div>
            <div class="column has-text-white">
                <h1 class="subtitle is-size-1">About</h1>
                <p class="is-size-5">
                    A father/daughter duo with a passion for photography.
                </p>
                <br />
                <p class="is-size-5">
                    At an early age Megan began following in her fathers footsteps and began explore the world of photography. 
                    Throughout her childhood she wandered around with a film camera, snapping shots of of nature and her brother. 
                    After high school Megan began her journey in higher education and began taking classes in digital and print photography, 
                    along with learning how to produce her own prints. Megan graduated in 2012 and is now living in Seattle, Washington, 
                    working as a nanny and traveling during her free time.
                </p>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>