<% include partials/header %>

<section class="hero is-success is-fullheight">

</section>
<div class="hero-body is-overlay verticle-center">
    <div class="container">
        <h1 class="title has-text-centered fancy-bottom-border">
            Widli Photography
        </h1>
    </div>
</div>
<% include partials/footer %>