<% include partials/header %>

<section class="section header">
    <div class="container has-text-centered">
        <h1 class="title has-text-white">Widli Photography</h1>
        <h4 class="subtitle">
            "Look at a tree, a flower, a plant. Let your awareness rest upon it. How still they are, how deeply rooted in being. Allow nature to teach you stillness." <br/>
             -Eckhart Tolle
        </h4>
    </div>
</section>

<section class="section" id="photos">
    <% if (files) { %>
        <% files.forEach(function(file) { %>
            <% if (file.metadata === "megan") { %>
                <div>
                    <img src="image/<%= file.filename %>">
                </div>
            <% } %>
        <% }) %>
    <% } else { %>
        <p>No images to show</p>
    <% } %>
</section>

<% include partials/footer %>